
.subtitulo{
    text-align: center;
    margin-top: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}


.list-group-item .img-tv{
    margin-left:4.5rem;
}

.logo-carrito{
    width: 3%;
}

h4{
    text-align: center;
    background-color: #000;
    color: #fff;
}

.samsung{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.precio-ars{
    color: rgb(4, 4, 156);
    font-weight: 700;
    font-size: 1.3rem;
}

.precio-usd{
    color: green;
    font-weight: 700;
}

.centrar-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.centrar-boton button{
    border-radius: 45px;
    padding: .5rem 1.5rem;
}

.centrar-boton button:hover{
    background-color: rgba(0, 0, 0, 0.877);
}

#gastoTotal{
    text-align: start;
}

#finalizar{
    border-radius: 45px;
    padding: .5rem 1.5rem;
}

footer{
    margin-top: 5rem;
    text-align: center;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
  }
  footer ul li{
    position: relative;
    list-style: none;
    margin: 0 0.65rem;
    transform: rotate(0deg) skew(0deg);
    padding: 1.8rem;
  }
  
  footer ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem !important;
  }
  footer ul li:hover span{
    box-shadow: -1px 1px 1px rgb(0,0,0,.1);
  }
  
  
  footer ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .8;
  }
  footer ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
  }
  footer ul li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: .3;
  }
  footer ul li:nth-child(1) span{
    background: #000;
  }
  footer ul li:nth-child(2) span{
    background: #000;
  }
  footer ul li:nth-child(3) span{
    background: #000;
  }
  footer ul li:nth-child(4) span{
    background: #000;
  }
  footer ul li:nth-child(5) span{
    background: #000;
  }
  footer ul li:nth-child(1):hover span{
    background: #000;
  }
  footer ul li:nth-child(2):hover span{
    background: #000;
  }
  footer ul li:nth-child(3):hover span{
    background: #000;
  }
  footer ul li:nth-child(4):hover span{
    background: #000;
  }
  footer ul li:nth-child(5):hover span{
    background: #000;
  }













  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}



.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;
}




  header{
	height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(39, 39, 38, 0.5) 100%), url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 3rem;
}
.head{
	padding: 0;
	height: 100%;
	flex-direction: column;
	color: #fff;
}


.hamburguer{
	position: fixed;
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 18vw;
	height: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    opacity: .9;
}

.spread{
	transform: translate(0);
}

.menu-navegacion a{
	color: #fff;
	text-decoration: none;
}

